<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Personnal page <span th:text="${utilisateurLogin}"></span></h1>
	<table>
		<tr>
			<th>id</th>
			<th>marque</th>
			<th>matricule</th>
		</tr>
		<tr th:each = "voiture : ${ListeVoiture}">
			<td><a th:href="@{/Caracteristique/{id}(id=${voiture.id})}"><span th:utext = "${voiture.id}"></span></a></td>
			<td><a href="Caracteristique/1"><span th:utext = "${voiture.marque}"></span></a></td>
			<td><a href="Caracteristique/1"><span th:utext = "${voiture.matricule}"></span></a></td>
		</tr>
	</table>
</body>
</html>