<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Personnal page <span th:text="${utilisateurLogin}"></span></h1>
	<table>
		<tr>
			<th>id</th>
			<th>marque</th>
			<th>matricule</th>
		</tr>
		<tr th:each = "voiture : ${ListeVoiture}">
			<td th:utext = "${voiture.id}"></td>
			<td th:utext = "${voiture.marque}"></td>
			<td th:utext = "${voiture.matricule}"></td>
		</tr>
	</table>
</body>
</html>